.card.ht_s_item {
  border: 2px solid #AFC94A;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pre_step_link {
  float: left;
  line-height: 36px;
}

.next_step_button {
  float: right;
  width: 160px;
  line-height: 36px;
}

.payment-hint {
  color: #aaa;
  font-size: 14px;
}
