.ht_content {
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
  position: relative
}

.ht_searchBar {
  background-color: red;
}

.ht_searchContent {
  background-color: blue;
}
